    @import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Roboto:wght@100;300&display=swap');
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    @media (max-width: 1120px) and (min-width:992px) {
        .dropdown-btn,
        .abc {
            font-size: 14px !important;
        }
    }
    
    @media (max-width: 767.98px) {
        .navbar-brand {
            margin-left: 10px;
            padding: 0.5rem;
        }
        .navbar .form-control {
            padding: 0.5rem;
        }
        .navbar .container-fluid {
            margin-top: 5px;
            display: none;
        }
        .navbar .container-fluid .d-flex {
            margin-top: 5px;
        }
        header {
            border-bottom: 1px solid #3498db;
        }
    }
    
    @media (min-width: 768px) {
        .navbar .container-fluid {
            margin-top: 5px;
            display: flex !important;
        }
        .sidebar {
            padding: 60px 0 0 0 !important;
        }
    }
    
    @media (max-width: 575.98px) {
        .card-body {
            padding: 0 !important;
        }
    }
    
    @media (max-width: 991.98px) {
        .live_seach_category {
            margin-top: 5px;
        }
    }
    
    body {
        font-size: 16px;
    }
    
    .form-control {
        font-size: 14px;
    }
    
    .form-check-input {
        width: 1.25rem;
        height: 1.25rem;
    }
    /* Thanh Công Cụ Header Backend -> Layout */
    
    .navbar-brand {
        padding: 0.75rem;
        font-weight: 500;
    }
    
    .navbar .navbar-toggler {
        top: .25rem;
        right: 1rem;
    }
    
    .navbar .form-control {
        padding: .75rem;
        border-width: 0;
        border-radius: 0;
        font-size: 16px;
    }
    
    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
    /* slidebar Thanh menu bên trái Backend -> Layout */
    
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 60px 0 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        overflow-y: scroll;
    }
    
    .sidebar::-webkit-scrollbar {
        display: none;
    }
    
    html::-webkit-scrollbar {
        display: none;
    }
    
    .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 60px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
    /* menu dropdown Layout -> id="sidebarMenu" */
    
    .dropdown-btn {
        color: rgb(255, 255, 255);
        width: 100%;
        cursor: pointer;
        outline: none;
        margin: 5px 0;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .dropdown-btn:hover {
        color: rgb(7, 92, 250) !important;
    }
    
    .active {
        background-color: rgb(217, 231, 229);
        color: #000 !important;
    }
    
    .dropdown-container {
        display: none;
        overflow: hidden;
    }
    
    .dropdown-container .abc {
        margin: 5px 0;
        color: rgb(190, 191, 199);
        position: relative;
        transition: 0.5s;
    }
    
    .dropdown-container .abc:hover {
        box-shadow: 0 0 2px 2px #c9d4f1;
        color: #fff !important;
    }
    
    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }
    /*End Backend -> Layout*/
    /* hiển thị ảnh logo trước khi upload Backend -> Trademark-> Create*/
    
    .upload_logo {
        width: 160px;
        height: 120px;
        border: 1px dashed #9aafe7;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    
    .upload_logo .close_logo_preview {
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 18px;
        cursor: pointer;
        background-color: red;
        color: #fff;
        border-radius: 50%;
        display: none;
    }
    
    .upload_logo label {
        cursor: pointer;
    }
    
    .upload_logo .logo_preview {
        width: 100%;
        height: 100%;
        display: none;
    }
    /* end BAckend -> Trademark -> Create */
    /*------------------  hien anh truoc khi upload -----------------------*/
    
    .list_pro_image_item {
        float: left;
        width: 150px;
        height: 160px;
        border: 1px dashed #ccc !important;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    
    .list_pro_image_item .close_pro_image {
        position: absolute;
        top: -5%;
        right: -5%;
        cursor: pointer;
        transition: .5s;
        display: none;
    }
    
    .list_pro_image_item label {
        cursor: pointer;
        transition: .5s;
    }
    
    .list_pro_image_item .close_pro_image:hover,
    .list_pro_image_item label:hover {
        color: red;
    }
    
    .list_pro_image_item .pro_image {
        width: 100%;
        height: 100%;
        display: none;
    }
    /* nut sap xep trong cac danh dach */
    
    .btn-sort {
        position: relative;
    }
    
    .menu-sort {
        position: absolute;
        border: 1px solid #020203;
        top: 100%;
        left: 0;
        min-width: 150px;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        margin-top: 5px;
        border-radius: 5px;
        align-items: center;
        display: none;
        transition: all 1s;
        z-index: 10;
        box-shadow: 0px 0 3px 3px #c9d4f1;
    }
    
    .menu-sort .sort_product {
        text-decoration: none;
        font-size: 14px;
        color: rgb(63, 60, 245);
        padding: 10px 0;
        display: block;
        transition: .5s;
        width: 100%;
    }
    
    .btn-sort .menu-sort .sort_product:hover {
        color: rgb(0, 0, 0);
        background-color: cornflowerblue;
    }
    
    .btn-sort .menu-sort .sort_product+.sort_product {
        border-top: 1px solid #3498db;
    }
    /*-------------------------------------------------toassst----*/
    
    .toast {
        min-width: 250px;
        max-width: 600px;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        border-left: 3px solid;
        border: 0.5px solid #3498db;
        animation: left 1s ease, out 2s ease 5s forwards;
    }
    
    @keyframes left {
        from {
            opacity: 0;
            transform: translateY(-120px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes out {
        to {
            opacity: 0;
        }
    }
    
    #toast {
        position: fixed;
        top: 100px;
        right: 50%;
        transform: translateX(50%);
    }
    
    .toast .toast__icon {
        font-size: 25px;
    }
    
    .toast .toast__close {
        font-size: 24px;
        color: rgb(151, 146, 146);
        cursor: pointer;
    }
    
    .toast .toast__body {
        flex-grow: 1;
        font-size: 20px;
    }
    
    .toast .toast__icon,
    .toast .toast__close {
        padding: 16px;
    }
    
    .toast--success {
        border-color: #47d864;
    }
    
    .toast--success .toast__icon {
        color: #47d864;
    }
    
    .toast--success .toast__body {
        color: #47d864;
    }
    
    .toast--error {
        border-color: red;
    }
    
    .toast--error .toast__icon {
        color: red;
    }
    
    .toast--error .toast__body {
        color: red;
    }
    /*--------------------------------------------------------------------------------------------------*/